
  @import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@1,700&display=swap');
body{
    background: #edeafe;
    font-family: 'Courier Prime', monospace;
}
.stopwatch {
    width: 90%;
    max-width: 600px;
    background-image: url(images/background3.jpg);
    background-size: cover;
    background-position: center;
    padding: 40px 0;
    color: #fff;
    margin: 200px auto 0;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}
.stopwatch h1 {
    margin-left: 50px;
    margin-top: 50px;
    font-size: 50px;
    font-weight: 300;
}
.buttons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.buttons img {
    width: 80px;
    margin: 0 5px;
    cursor: pointer;
}
.buttons img:nth-child(1){
    margin-left: 50px;
    width: 65px;
}

.buttons img:nth-child(3){
    width: 70px;
}
.buttons img:nth-child(2){
    width: 80px;
}